<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/edit.css">
    <script
    src="https://kit.fontawesome.com/17041f96e9.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="shortcut icon"
    href="https://cdn-icons-png.flaticon.com/512/218/218390.png"
    type="image/x-icon"
  />
    <title>Edit</title>
</head>
<body>

    <div class="nav">
        <div class="logo">
          <a href="/templates/profile.html">  <i class="fas fa-arrow-left"></i></a>
            <h3>Edit Profile</h3>
        </div>
        <div class="name">
           
            <h3>Name</h3>
        </div>
    </div>
    <div class="cont" align="center">
      <div class="logo">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="profile">
        <table>
          <tr>
            <th>Name:</th>
            <td><input type="text" name="" id="" placeholder="Enter the name"></td>
          </tr>
          <tr>
            <th>E-Mail:</th>
            <td><input type="email" name="" id="" placeholder="Enter the e-mail"></td>
          </tr>
          <tr>
            <th>Mobile No:</th>
            <td><input type="tel" name="" id="" placeholder="Enter the mobile number"></td>
          </tr>
          <tr>
            <th>Job:</th>
            <td><input type="text" name="" id="" placeholder="Enter the Job"></td>
          </tr>
          <tr>
            <th>Income:</th>
            <td><input type="text" placeholder="salary"></td>
          </tr>
          <tr>
            <th>Family Members:</th>
            <td><input type="number" name="" id="" placeholder="Number of members"></td>
          </tr>
        </table>
        <a href="">Edit/Update</a>

      </div>
    </div>
    
</body>
</html>