<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wallet tracker</title>
    <link
      rel="shortcut icon"
      href="/static/logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/Homestyle.css" />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="login.html"><img src="/static/logo.png" alt="" /></a>

        <a href="login.html"><h3>Wallet</h3></a>
        <div class="nav-links">
          <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="#foot">Help</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </nav>
      <div class="sign">
        <h3>
          <span>Personel Expense Tracker <br /></span>
        </h3>
        <h4>Click get started button to Signin or Signup</h4>

        <a href="/register" class="btn"
          >Get Started</a
        ><br />
      </div>
    </section>
    <section class="p2" id="about">
      <div class="feat">
        <h3>key features</h3>
      </div>
      <div class="content">
        <div class="con1">
          <img src="/static/logo.png" alt="">
          <div class="info">
           <h3>asdf</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error blanditiis, aliquid vitae ullam, quae omnis eos dignissimos praesentium modi, obcaecati fugit consequuntur voluptatum. Assumenda accusamus enim aliquid id cupiditate! Quas!</p>
         </div>
        </div>
      </div>
      <div class="content1">
        <div class="con2">
          <img src="/static/logo.png" alt="">
          <div class="info">
           <h3>asdf</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error blanditiis, aliquid vitae ullam, quae omnis eos dignissimos praesentium modi, obcaecati fugit consequuntur voluptatum. Assumenda accusamus enim aliquid id cupiditate! Quas!</p>
         </div>
        </div>
      </div>
      <div class="content2">
        <div class="con3">
          <img src="/static/logo.png" alt="">
          <div class="info">
           <h3>asdf</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error blanditiis, aliquid vitae ullam, quae omnis eos dignissimos praesentium modi, obcaecati fugit consequuntur voluptatum. Assumenda accusamus enim aliquid id cupiditate! Quas!</p>
         </div>
        </div>
      </div>
    </section>
    

 
  </body>
</html>
